.smarttoc-highlight-enter {
  background: rgba(255, 255, 0, 0.0);
}

.smarttoc-highlight-enter.smarttoc-highlight-enter-active {
  background: rgba(255, 255, 0, 1);
}

.smarttoc-highlight-leave {
  background: rgba(255, 255, 0, 1);
}

.smarttoc-highlight-leave.smarttoc-highlight-leave-active {
  background: rgba(255, 255, 0, 0.0);
  transition: background 2000ms;
}
